@import "./variables.css";
@import "./fonts.css";
@import './top-bar.css';
@import "./navbar.css";
@import "./defaults.css";
@import "./footer.css";
@import "./course-box.css";
@import "./helpers.css";
@import "./breadcrumb.css";
@import "./sidebarCoursesBox.css";

/* Start Article Details Styles */














/* Finish Article Details Styles */

/* Start Sidebar Styles */

.course-info{
    overflow: hidden;
}

.course-info__courses-title{
    position: relative;
}

.course-info__courses-title::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 39px;
    background-color: var(--primary-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 12px;
    right: -27px;
    top: -5px;
    transform: skewX(-10deg);
}

.sidebar-articles__list{
    margin-top: 2rem;
}

.sidebar-article__item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    padding: 0.9rem 1.3rem 0.9rem 1rem;
    transition: all 400ms ease;
}

.sidebar-article__item:hover {
    padding-right: 2rem;
    background-color: #f8f9fa;
}

.sidebar-article__item:hover {
    color: var(--primary-color);
}

.sidebar-articles__icon {
    font-size: 1.4rem;
    color: #909aa7;
    transition: all 400ms ease;
}

.sidebar-articles__link {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.last-articles__list {
    margin-top: 2rem;
}

.last-articles__item {
    border-bottom: 1px solid #eeeeee;
    padding: 1rem 0;
}

.last-articles__link {
    font-size: 1.5rem;
}

/* Finish Sidebar Styles */
