/* ////////////////////////////////////////// */
/*start default styles */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  direction: rtl;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: ver(--dark-color);
  transition: 0.14s;
}

a:hover {
  color: #1e83f0;
}

i {
  user-select: none;
}

/*finish default styles */
/* //////////////////////////////////////// */
