/* //////////////////////////////////////////////////// */
/* start footer styles */

.footer-widgets {
  overscroll-behavior-block: #f0f2f7;
  background-color: #f0f2f7;
  border-radius: 1rem;
  padding: 4rem 3rem;
  position: relative;
  margin-bottom: 5rem;
  box-shadow: 0 0 13px 1px rgba(70, 72 , 77, 0.8); 
}

.footer-widgets::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 4rem;
  width: 50rem;
  color: var(--primary-color);
  z-index: -1;
  bottom: -1.5rem;
  border-radius: 5rem;
}

.footer-widgets__title {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
}

.footer-widgets__title::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--primary-color);
  border-radius: 0.7rem;
  right: 1rem;
  opacity: 0.3;
  transform: rotate(45deg);
}
.footer-widgets__text {
  color: #7d7e7f;
  font-size: 1.4rem;
}

.footer-widgets__links {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.footer-widgets__link {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.footer__copy-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f7;
  padding: 3rem 0;
  font-size: 1.8rem;
}

.footer__copy-right-text {
  color: var(--dark-color);
  font-weight: bold;
}

/* finish footer styles */
/* /////////////////////////////////////////////////////// */
