@import url(./variables.css);
@import url(./fonts.css);
@import url(./top-bar.css);
@import url(./navbar.css);
@import url(./default.css);
@import url(./footer.css);
@import url(./course-box.css);
@import url(./paganition.css);


/* ////////////////////////////////////// */
/* starts navbar styles */

.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

/* ////////////////////////////////////// */
/* main header right */

.main-header__right {
  display: flex;
}

.main-header__menu {
  display: flex;
}

.main-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7f8187;
  position: relative;
  padding: 0 1rem;
  font-size: 1.3rem;
}

.main-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #7f8187;
}

.main-header__link:hover {
  color: #7f8187;
}

.main-header__link-icon {
  margin-right: 1rem;
}

/* main header right */
/* /////////////////////////////////////////////// */

/* ////////////////////////////////////////////// */
/* start dropdown styles*/

.main-header__dropdown {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  transition: all 200ms ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  width: 24rem;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 3px solid var(--primary-color);
  opacity: 0;
  visibility: hidden;
}

.main-header__item:hover .main-header__dropdown {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}

.main-header__dropdown-link {
  display: block;
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  color: var(--dark-color);
  transition: all 400ms ease;
}

.main-header__dropdown-link:hover {
  color: #1e83f0;
}

/* finish dropsown styles */
/* ////////////////////////////////////////////// */

/* ///////////////////////////////////////////// */
/* main header left */

.main-header__left {
  display: flex;
  align-items: center;
}

.main-header__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

.main-header__search-icon {
  color: var(--white-color);
  font-size: 2.3rem;
}

.main-header__cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f2f7;
  font-size: 2rem;
}

.main-header__cart-btn:hover {
  color: #1e83f0;
}

.main-header__cart-icon {
  color: var(--dark-color);
  font-size: 2.3rem;
  transition: all 400ms ease;
}

.main-header__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: all 400ms ease;
  color: var(--primary-color);
  width: 11rem;
  height: 3.4rem;
  font-size: 1.1rem;
  height: 4.3rem;
}

.main-header__profile:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* main header left */
/* //////////////////////////////////////////////// */
/* finish navbar styles */
/* ///////////////////////////////////////////////// */

/* /////////////////////////////////////////////// */
/*start landing styles */

.landing {
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/background_landing.jfif) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 9rem 0;
  color: var(--white-color);
}

.landing__title {
  font-size: 3.4rem;
  font-weight: bold;
}

.landing__subtitle {
  font-size: 1.8rem;
  margin-top: 0.3rem;
}

.landing__searchbar {
  width: 700px;
  position: relative;
  margin: 3.5rem auto;
}

.landing__searchbar-input {
  width: 100%;
  padding: 3rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.landing__search-btn {
  border: none;
  background-color: var(--primary-color);
  position: absolute;
  left: 1rem;
  width: 6rem;
  top: 0.7rem;
  height: 6rem;
  border-radius: 1rem;
}

.landing__searchbar-icon {
  font-size: 30px;
  color: var(--white-color);
}

.landing-status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.landing-status__icon {
  font-size: 5rem;
}

.landing-status__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-status__item i {
  fill: var(--white-color);
}

.landing-status__count {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
}

.landing-status__text {
  font-weight: bold;
}

/*finish landing styles */
/* ////////////////////////////////////////// */

/* ////////////////////////////////////////// */
/* start courses styles */

.courses {
  margin: 4rem 0;
}

.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-header__right {
  display: flex;
  flex-direction: column;
}

.courses-header__text {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.courses-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 150px;
  height: 30px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.courses-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.courses-header__link:hover {
  color: var(--white-color);
}

.couers-box {
  background-color: var(--white-color);
  box-shadow: 0 0 19px rgba(68, 172, 185, 0.3);
  border-radius: 1rem;
  margin: 2 0rem;
  transition: all 400ms ease;
}

.couers-box:hover {
  transform: translateY(-0.6rem);
}

.course-box__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.course-box__main {
  padding: 0 1.2rem;
}

.course-box__title {
  display: block;
  padding: 1rem 0;
}

.course-box__rating-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-box__teacher {
  display: flex;
  align-items: center;
}

.course-box__teacher-icon {
  color: #6c757d;
  font-size: 1.8rem;
}

.course-box__teacher-link {
  color: #6c757d;
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.course-box__star {
  margin: -0.2rem;
}

.course-box__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.course-box__users-icon {
  color: #6c757d;
  font-size: 1.6rem;
}

.course-box__user-text {
  color: #6c757d;
  font-size: 1.4rem;
}

.course-boc__price {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.course-box__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  border-top: 1px solid #e8e8e8;
}
.course-box__foter-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.course-box__footer-icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
}
/* finish courses styles */
/* /////////////////////////////////////////// */

/* ////////////////////////////////////////// */
/* start about us styles */
.about-us {
  margin: 6rem 0;
}

.about-us__header {
  display: flex;
  flex-direction: column;
}

.about-us__subtitle {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.about-us__box {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem 1.5rem;
}

.about-us__icon {
  color: #666;
  font-size: 6.5rem;
}

.about-us__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.about-us__box-title {
  font-weight: bold;
  font-size: 1.8rem;
}

.about-us__box-text {
  font-size: 1.5rem;
}

/* finish about us styles */
/* //////////////////////////////////////////////// */

/* /////////////////////////////////////////////// */
/* start popular styles */
.popular .presell {
  margin: 5rem 0;
}

.popular-slider .couers-box,
.presell-slider .couers-box {
  margin: 0 1.3rem;
  box-shadow: 0 0 10 rgba(168, 172, 185, 0.3);
}
.popular-slider .couers-box:hover,
.presell-slider .couers-box {
  transform: none;
}

/* finish popular styles */
/* ////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */
/* start pre sell styles */

.presell {
  margin: 5rem 0;
}



/* finish pre sell styles */
/* //////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////// */
/* start articles styles */

.articles {
  margin: 4rem 0;
}

.articles-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles-header__right {
  display: flex;
  flex-direction: column;
}

.articles-header__text {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.articles-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 150px;
  height: 30px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.articles-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.articles-box {
  margin: 4rem 0;
  transition: all 400ms ease;
  border-radius: 1rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.8);
  width: 100%;
  
}

.articles-box {
  transform: translateY(-0.6rem);
}

.articles-box__img {
  border-radius: 1rem 1rem 0 0;
  width: 90%;
}

.articles-box__content {
  padding: 1rem 2rem 3rem 2rem;
}

.articles-box__link {
  font-weight: bold;
}

.articles-box__text {
  color: #898989;
  font-size: 1.2rem;
  padding: 1rem 0 2.5rem 0;
}

.articles-box__btn {
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 400ms ease;
}

.articles-box__btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
/* finish articles styles */
/* ///////////////////////////////////////////////// */

/* ////////////////////////////////////////////////// */
/* start help class */

.title {
  font-size: 2.3rem;
  color: #444446;
  line-height: 1.2;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  right: -1rem;
  width: 0.4rem;
  size: 4.4rem;
  background-color: var(--primary-color);
  border-radius: 5rem;
  transform: rotate(8deg);
}

.title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  height: 60%;
  color: rgba(43, 206, 86, 0.2);
}

/* finish help class */
/* ///////////////////////////////////////////// */
